@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

/*-------HEADER-------*/

header{
    background-color: rgb(236, 129, 147);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2{
    color: blueviolet;
    font-style: italic;
    font-weight: 100;
}

header h3{
    color: blueviolet;
    font-style: italic;
    font-weight: 100;
}

header img{
    width: 180px;
    height: 150px;
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(243, 242, 159);
    font-size: 20px;
    font-weight: 500px;
    font-style: italic;
}

header nav ul li{
    margin: 20px;
}

/*------MAIN-----*/

.hero{
    width: 100%;
    height: 80vh;
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero div{
    width: 80%;
    text-align: center;
}

.hero div a{
    text-decoration: none;
    background-color: rgb(241, 107, 241);
    padding: 5px;
    color: bisque;
    border-radius: 5px;
}

.hero div p{
    margin: 10px 0 10px 0;

}

.hero h1{
    font-size: 65px;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 5px;
    color: rgb(238, 10, 143);
    text-align: center;
    font-family: 'The Nautigal', cursive;
    position: sticky;
    top: 20px;
}

.variedad h2{
    color: rgb(238, 10, 143);
    margin: 30px 0px 0px 20px ;
    font-style: italic;
 }

 .variedad{
    display: flex;
    border: solid 1px pink;
    background-color: bisque;
    margin-top: 20px;
 }

 .variedad__pg{
    display: flex;
    justify-content: space-around;
    margin: 60px 60px 0 0;
 }

 .variedad__p{
    margin: 10px 0px 0px 5px;
 }

 .variedad__tittle{
    font-style: italic;
    color: rgb(238, 10, 143);
 }


 .table-container{
    /*Margin*/
    margin-top: 30px;
    margin-bottom: 30px;
 }

 .table-item{
    border: 1px solid pink;
    background-color: bisque;
    font-style: italic;
 }

 /*----CARDS----*/

.relevantes-container{
    display: flex;
    justify-content: space-around;
}

.relevantes h2{
    font-style: italic;
    text-align: center;
    color: rgb(241, 107, 241);
}

 .relevantes__card{
    width: 200px;
    height: 300px;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(244, 245, 173);
 }

 .relevantes div div a{
    text-decoration: none;
    background-color: rgb(241, 107, 241);
    padding: 5px;
    color: bisque;
    border-radius: 5px;
 }

 .relevantes div div h3{
    margin-bottom: 30px;
    font-style: italic;
    font-size: 25px;
 }

 .relevantes div div img{
    width: 200px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 }

 .boton-fixed img{
    width: 30px;
    height: 30px;
    position: fixed;
    right: 40px;
    bottom: 40px;
 }

 /*-----GRIDCONTAINER INDEX----*/

 .grid-containervariedad{
    color: pink;
    display: grid;
    grid-template-columns: repeat(2,1);
    grid-template-rows: 100px;
    border: solid 1px palevioletred;
    background-color: bisque;
    margin-top: 20px;
 }

 .grid-containervariedad h2{
    font-style: italic;
    color: palevioletred;
    text-align: center;
    font-size: 40px;
 }

 .grid-containervariedad p{
    color: palevioletred;
 }


 
 
 /*----GRIDCONTAINER PRODUCTOS----*/

 .grid-containerprodu{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    gap: 10px;

 }

 .grid-containerprodu div img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
}



/*------FOOTER-----*/

footer .logo{
    width: 180px;
    height: 150px;
}

footer .redeslogo{
    width: 30px;
    height: 30px;
}

footer{
    background-color: rgb(236, 129, 147);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

footer ul li a{
    text-decoration: none;
    color: rgb(243, 242, 159);
    font-size: 20px;
    font-weight: 500px;
    font-style: italic;
}

/*----SERVICIOS----*/

.servicios div h1{
    font-style: italic;
    color: rgb(210, 92, 240);
}

.serviciosimg{
    width: 180px;
    height: 150px;
}

.serviciosimgredes{
    width: 40px;
    height: 40px;
}

/*----PRODUCTOS----*/

.productosimgheader{
    width: 60px;
    height: 60px;
}

.productos div h1{
    font-style: italic;
    color: rgb(210, 92, 240);
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.productosimgfooter{
    width: 180px;
    height: 150px;
}

.productosimgredes{
    width: 40px;
    height: 40px;
}

/*----CONTACTO----*/

.contactoimgfooter{
    width: 180px;
    height: 150px;
}

.contactoimgredes{
    width: 40px;
    height: 40px;
}


/*----ACERCADENOSOTROS----*/

.introduccion h1{
    font-style: italic;
    color: rgb(210, 92, 240);
}

.acercadeimgfooter{
    width: 180px;
    height: 150px;
}

.acercadeimgredes{
    width: 40px;
    height: 40px;
}

.acercadeimgsince{
    width: 60px;
    height: 60px;
}

/*----MEDIA QUERIES----*/

/*Responsive max-width*/

@media screen and (max-width:714px){
    header{
        flex-direction: column;
    }
}

@media screen and (max-width:921px){
    .variedad{
        flex-direction: column;
    }
}

@media screen and (max-width:527px){
    header nav ul{
        flex-direction: column;
        text-align: center;
    }

}

@media screen and (max-width:615px){
    .relevantes-container{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:714px){
    footer{
        flex-direction: column;
    }
}

@media screen and (max-width:1275px){
    .productos div section{
        flex-direction: column;
    }
}