@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap");
header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*----MEDIA QUERIES----*/
/*Responsive max-width*/
@media screen and (max-width: 714px) {
  header {
    flex-direction: column; } }

@media screen and (max-width: 921px) {
  .variedad {
    flex-direction: column; } }

@media screen and (max-width: 527px) {
  header nav ul {
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 615px) {
  .relevantes-container {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 714px) {
  footer {
    flex-direction: column; } }

@media screen and (max-width: 1275px) {
  .productos div section {
    flex-direction: column; } }

* {
  margin: 0%;
  padding: 0%; }

header {
  background-color: #ec8193;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header img {
    width: 180px;
    height: 130px;
    margin-top: 5px;
    margin-bottom: 5px; }
  header nav ul {
    list-style: none;
    display: flex; }
    header nav ul li {
      margin: 20px; }
      header nav ul li a {
        text-decoration: none;
        color: #f3f29f;
        font-size: 20px;
        font-weight: 500px;
        font-style: italic;
        transition: 2s; }
        header nav ul li a:hover {
          color: #e22bd9; }

.boton {
  background-color: #f16bf1;
  border: 5px;
  color: bisque;
  padding: 5px;
  text-decoration: none; }

footer, header {
  display: flex;
  justify-content: space-around;
  align-items: center; }

footer {
  background-color: #ec8193;
  height: 150px; }

header {
  background-color: #ec8193; }

/*----MEDIA QUERIES----*/
/*Responsive max-width*/
@media screen and (max-width: 714px) {
  header {
    flex-direction: column; } }

@media screen and (max-width: 921px) {
  .variedad {
    flex-direction: column; } }

@media screen and (max-width: 527px) {
  header nav ul {
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 615px) {
  .relevantes-container {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 714px) {
  footer {
    flex-direction: column; } }

@media screen and (max-width: 1275px) {
  .productos div section {
    flex-direction: column; } }

* {
  margin: 0%;
  padding: 0%; }

main {
  background-color: white; }
  main .hero {
    width: 100%;
    height: 80vh;
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center; }
    main .hero div {
      width: 80%;
      text-align: center; }
      main .hero div h1 {
        font-size: 60px;
        font-weight: 100;
        font-style: italic;
        letter-spacing: 5px;
        color: #ee0a8f;
        text-align: center;
        font-family: 'The Nautigal', cursive;
        position: sticky;
        top: 20px;
        background-color: rgba(236, 129, 147, 0.664);
        border-radius: 30%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px; }
      main .hero div a {
        text-decoration: none;
        background-color: #f16bf1;
        padding: 5px;
        color: bisque;
        border-radius: 5px;
        transition: 2s; }
  main .clickproductos {
    text-align: center; }
    main .clickproductos h2 {
      font-style: italic;
      color: #ee0a8f;
      font-size: 30px; }
    main .clickproductos a {
      text-decoration: none;
      background-color: #f16bf1;
      padding: 5px;
      color: bisque;
      border-radius: 5px; }
  main .carouselcontainer .carousel-inner {
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 20px; }
  main .grid-containervariedad {
    color: pink;
    display: grid;
    grid-template-columns: repeat(2, 1);
    grid-template-rows: 100px;
    border: solid 1px palevioletred;
    background-color: bisque;
    margin-top: 20px; }
    main .grid-containervariedad h2 {
      font-style: italic;
      color: palevioletred;
      text-align: center;
      font-size: 40px; }
    main .grid-containervariedad p {
      color: palevioletred; }
    main .grid-containervariedad .variedad__pg {
      display: flex;
      justify-content: space-around;
      margin: 20px 20px 0 50px; }
      main .grid-containervariedad .variedad__pg .variedad__tittle {
        font-style: italic;
        color: #ee0a8f;
        margin-top: 1px; }
      main .grid-containervariedad .variedad__pg .variedad__p {
        margin: 10px 0px 0px 5px;
        text-align: center; }
  main .table-container {
    margin-top: 30px;
    margin-bottom: 30px; }
    main .table-container table thead .table-item {
      border: 1px solid pink;
      background-color: bisque;
      font-style: italic; }
    main .table-container table tbody tr td {
      border: 1px solid pink;
      background-color: bisque;
      font-style: italic; }
  main .relevantes h2 {
    font-style: italic;
    text-align: center;
    color: #f16bf1; }
  main .relevantes .relevantes-container {
    display: flex;
    justify-content: space-around; }
    main .relevantes .relevantes-container .relevantes__card {
      width: 200px;
      height: 300px;
      border: 1px solid gainsboro;
      margin-bottom: 10px;
      text-align: center;
      border-radius: 15px;
      background-color: #f4f5ad; }
      main .relevantes .relevantes-container .relevantes__card img {
        width: 200px;
        height: 200px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; }
      main .relevantes .relevantes-container .relevantes__card h3 {
        margin-bottom: 30px;
        font-style: italic;
        font-size: 25px; }
      main .relevantes .relevantes-container .relevantes__card a {
        text-decoration: none;
        background-color: #f16bf1;
        padding: 5px;
        color: bisque;
        border-radius: 5px; }
  main .boton-fixed img {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 40px;
    bottom: 40px; }

/*----MEDIA QUERIES----*/
/*Responsive max-width*/
@media screen and (max-width: 714px) {
  header {
    flex-direction: column; } }

@media screen and (max-width: 921px) {
  .variedad {
    flex-direction: column; } }

@media screen and (max-width: 527px) {
  header nav ul {
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 615px) {
  .relevantes-container {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 714px) {
  footer {
    flex-direction: column; } }

@media screen and (max-width: 1275px) {
  .productos div section {
    flex-direction: column; } }

* {
  margin: 0%;
  padding: 0%; }

footer {
  background-color: #ec8193;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer .logo {
    width: 180px;
    height: 150px; }
  footer ul li a {
    text-decoration: none;
    color: #f3f29f;
    font-size: 20px;
    font-weight: 500px;
    font-style: italic;
    transition: 2s; }
    footer ul li a:hover {
      color: blueviolet; }
  footer div .redeslogo {
    width: 30px;
    height: 30px; }

.boton {
  background-color: #f16bf1;
  border: 5px;
  color: bisque;
  padding: 5px;
  text-decoration: none; }

footer, header {
  display: flex;
  justify-content: space-around;
  align-items: center; }

footer {
  background-color: #ec8193;
  height: 150px; }

header {
  background-color: #ec8193; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*----MEDIA QUERIES----*/
/*Responsive max-width*/
@media screen and (max-width: 714px) {
  header {
    flex-direction: column; } }

@media screen and (max-width: 921px) {
  .variedad {
    flex-direction: column; } }

@media screen and (max-width: 527px) {
  header nav ul {
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 615px) {
  .relevantes-container {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 714px) {
  footer {
    flex-direction: column; } }

@media screen and (max-width: 1275px) {
  .productos div section {
    flex-direction: column; } }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*----MEDIA QUERIES----*/
/*Responsive max-width*/
@media screen and (max-width: 714px) {
  header {
    flex-direction: column; } }

@media screen and (max-width: 921px) {
  .variedad {
    flex-direction: column; } }

@media screen and (max-width: 527px) {
  header nav ul {
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 615px) {
  .relevantes-container {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 714px) {
  footer {
    flex-direction: column; } }

@media screen and (max-width: 1275px) {
  .productos div section {
    flex-direction: column; } }

* {
  margin: 0%;
  padding: 0%; }

.mainacercade {
  background-color: #f052db; }
  .mainacercade section div .acercadeimgsince {
    width: 60px;
    height: 60px; }
  .mainacercade section h1 {
    font-style: italic;
    color: #69075c;
    text-align: center;
    font-size: 40px; }
  .mainacercade section h2 {
    color: #69075c;
    font-style: italic;
    margin-top: 5px;
    text-align: center; }
  .mainacercade section .acercadegracias {
    text-align: center;
    margin-top: 40px;
    font-size: 50px; }
  .mainacercade section p {
    margin-top: 20px;
    text-align: center; }
  .mainacercade .imagenespastelhaciendo {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .mainacercade .imagenespastelhaciendo .imagenpastelero {
      width: 250px;
      height: 500px;
      object-fit: cover;
      margin-top: 40px; }
    .mainacercade .imagenespastelhaciendo .imagenhaciendo {
      width: 250px;
      height: 500px;
      object-fit: cover;
      margin-top: 40px; }

footer img {
  width: 180px;
  height: 150px; }

footer div img {
  width: 40px;
  height: 40px; }

/*----MEDIA QUERIES----*/
/*Responsive max-width*/
@media screen and (max-width: 714px) {
  header {
    flex-direction: column; } }

@media screen and (max-width: 921px) {
  .variedad {
    flex-direction: column; } }

@media screen and (max-width: 527px) {
  header nav ul {
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 615px) {
  .relevantes-container {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 714px) {
  footer {
    flex-direction: column; } }

@media screen and (max-width: 1275px) {
  .productos div section {
    flex-direction: column; } }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

* {
  margin: 0%;
  padding: 0%; }

header .productosimgheader {
  width: 60px;
  height: 60px; }

main .productos div h1 {
  font-style: italic;
  color: #d25cf0;
  text-align: center;
  margin-top: 20px;
  font-size: 40px; }

main .productos .grid-containerprodu {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 10px; }
  main .productos .grid-containerprodu div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 13px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 13px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px -3px rgba(0, 0, 0, 0.75); }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*----MEDIA QUERIES----*/
/*Responsive max-width*/
@media screen and (max-width: 714px) {
  header {
    flex-direction: column; } }

@media screen and (max-width: 921px) {
  .variedad {
    flex-direction: column; } }

@media screen and (max-width: 527px) {
  header nav ul {
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 615px) {
  .relevantes-container {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 714px) {
  footer {
    flex-direction: column; } }

@media screen and (max-width: 1275px) {
  .productos div section {
    flex-direction: column; } }

* {
  margin: 0%;
  padding: 0%; }

/*----MEDIA QUERIES----*/
/*Responsive max-width*/
@media screen and (max-width: 714px) {
  header {
    flex-direction: column; } }

@media screen and (max-width: 921px) {
  .variedad {
    flex-direction: column; } }

@media screen and (max-width: 527px) {
  header nav ul {
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 615px) {
  .relevantes-container {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 714px) {
  footer {
    flex-direction: column; } }

@media screen and (max-width: 1275px) {
  .productos div section {
    flex-direction: column; } }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

* {
  margin: 0%;
  padding: 0%; }

.serviciosmain {
  background-color: #f052db; }
  .serviciosmain .servicios div h1 {
    font-style: italic;
    color: #69075c;
    text-align: center; }
  .serviciosmain .grid-containerservicios {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 10px; }
  .serviciosmain .grid-itemsservicios img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 13px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 13px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px -3px rgba(0, 0, 0, 0.75); }
  .serviciosmain section .list-group {
    text-align: center; }
  .serviciosmain .bodacumpledespe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    color: #69075c; }
    .serviciosmain .bodacumpledespe .despe {
      margin-right: 50px; }
