@import "../base/mixins";
@import "../base/responsive";
*{
    margin: 0%;
    padding: 0%;
}
.maincontacto{
    background-color: rgb(240, 82, 219);
    .contactotitulo{
        font-style: italic;
        color: rgb(105, 7, 92);
        text-align: center;
        font-size: 40px;
    }
    .mapscontacto{
        width: 400px;
        height: 400px;
        margin-left: 450px;
        margin-top: 50px;
        padding: 5px;
        background-color: azure;
        border-radius: 10px;
    }
    .ponteencontacto{
        text-align: center;
        font-style: italic;
        font-size: 30px;
        color: rgb(105, 7, 92);
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .registro{
        margin-left: 450px;
        padding: 5px;
        background-color: azure;
        margin-right: 450px;
        border-radius: 10px;
    }
}
