@import "../base/responsive";
*{
    margin: 0%;
    padding: 0%;
}
footer{
    background-color: rgb(236, 129, 147);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;

    .logo{
        width: 180px;
        height: 150px;
    }
    ul{
        li{
            a{
                text-decoration: none;
                color: rgb(243, 242, 159);
                font-size: 20px;
                font-weight: 500px;
                font-style: italic;
                transition: 2s;
                &:hover{
                    color: blueviolet;
                }
            }
        }
    }
    div{
        .redeslogo{
            width: 30px;
            height: 30px;
        }
    }
}