@import "../base/responsive";
@import "../base/mixins";
*{
    margin: 0%;
    padding: 0%;
}
header{
    .productosimgheader{
        width: 60px;
        height: 60px;
    }
}
main{
    .productos{
        div{
            h1{
                font-style: italic;
                color: rgb(210, 92, 240);
                text-align: center;
                margin-top: 20px;
                font-size: 40px;
            }
        }
        .grid-containerprodu{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-auto-rows: 250px;
            gap: 10px;
            div{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                
                    box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
                -webkit-box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
                }
            }
        }
    }
}
