@import "../base/responsive";
@import "../base/mixins";
*{
    margin: 0%;
    padding: 0%;
}
.serviciosmain{
    background-color: rgb(240, 82, 219);
    .servicios{
        div{
            h1{
                font-style: italic;
                color: rgb(105, 7, 92);
                text-align: center;
            }
        }
    }
    .grid-containerservicios{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 250px;
        gap: 10px;
    }
 .grid-itemsservicios img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    
        box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
    }
    section{
        .list-group{
            text-align: center;
        }
    }
    .bodacumpledespe{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: italic;
        color: rgb(105, 7, 92);
        .despe{
            margin-right: 50px;
        }
    }
}